.cabeceraContenedor{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2%;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.img1{
display: flex;
flex-direction: row;
align-self: flex-start;
}
body {
    background-image: url(https://lh5.googleusercontent.com/p/AF1QipN2STajE4m8zmjwCAgQl0p6AucNBo9gfFE2qQDC=w650-h486-k-no);
    width: 100%;
}

.contenedor {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.textoEncima {
    align-items: center;
    top: 10px;
    left: 10px;
    color: palegoldenrod;
}

.centrado {
    align-self: center;
}

.navSup {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
