body {
    width: 660px;
    background-image: url(https://lh5.googleusercontent.com/p/AF1QipN2STajE4m8zmjwCAgQl0p6AucNBo9gfFE2qQDC=w650-h486-k-no);
    background-size: 100%;
}

.contenedorHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textoEncima {
    display: flex;
    flex-direction: row;
    text-align: right;
    font-size: 50px;
    margin-top: 35%;
    color: paleturquoise;
}
.navSup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.estiloLetraNav {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contenedorContacto{
    display: flex;
    flex-direction: column;

}

.formulario1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 20%;
    color: black;
    font-size: large;
}

.logo {
    display: flex;
    flex-direction: row;
    text-align: start;
    color: rgb(62, 62, 171);
    margin: 5%;
}
.imagenProducto{
    display: flex;
    width: 95px;
   
}
#contenedorContacto{
    display: flex;
}
#productosEnStock{
    display: flex;
    flex-direction: column;
}